<!-- WELCOME AREA + SEARCH -->
<section id="welcome">
  <!-- HERO (LOGO + TITLE + DESCRIPT + BG) -->
  <div id="hero">
    <i id="hero-logo" class="fab fa-staylinked"></i>
    <h1 id="hero-title">Page Title</h1>
    <p id="hero-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex facilis molestias dolore fugiat
      autem eaque totam modi ea repellat consectetur perferendis at, quasi et repellendus numquam delectus natus
      eum quia?</p>
    <!-- SEARCH BAR -->
    <div id="search">
      <input id="search-input" placeholder="Search for an officer">
      <button id="search-btn" type="button">Search</button>
    </div>
  </div>

</section>
